certifi==2024.7.4
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==42.0.8
distlib==0.3.8
filelock==3.15.3
idna==3.7
Markdown==3.10.2
msal==1.30.0
numpy==2.3.1
Office365-REST-Python-Client==2.5.11
pandas==2.3.0
pdf2image==1.17.0
pillow==10.4.0
platformdirs==4.2.2
pycparser==2.22
pygame==2.6.1
PyJWT==2.8.0
PyQt6==6.8.1
PyQt6-Qt6==6.8.2
PyQt6_sip==13.10.0
pystray==0.19.5
python-dateutil==2.9.0.post0
pytz==2024.1
pywin32==308
requests==2.32.3
six==1.16.0
typing_extensions==4.12.2
tzdata==2025.2
urllib3==2.2.2
virtualenv==20.26.2
watchdog==4.0.1
